<h1>Kelly's quiz formatter</h1>

<h3>Copy list of vocabulary below and select options:</h3>

<%= render "form" %>

<div class="result">
  <% if @lastest_list %>
    <% @lastest_list.format.each do |word| %>
      <%= word %><br>
    <% end %>
  <% end %>
</div>